@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  max-width: 1440px;
  margin: 0 auto;
}

/* DISPLAY 42px bold */
/* 
h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

h4 {
  font-size: 18px;
  font-weight: 400;
}

h5 {
  font-size: 14px;
  font-weight: 400;
}

p {
  font-size: 18px;
  font-weight: 400;
} */
