.Main {
  color: $color-dark-blue;

  &__Select {
    margin: 48px;
    padding: $pad-md;
    width: 300px;
    cursor: pointer;
  }
}

.CardList__Main {
  @include flexbox(column, center, center);
  margin-bottom: 24px;
}

.CardList {
  @include flexbox(column, center, center);

  &__Title {
    align-self: flex-start;
    margin: 48px;
    font-weight: 400;
  }

  &__Container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }
}

.CardList__Button {
  background-color: $color-blue;
  width: 280px;
  color: $color-white;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 4px;
  border: none;
  padding: $pad-sm;
  cursor: pointer;
}

.Port__Title {
  background-color: $color-dark-blue;
  color: $color-white;
  padding: $pad-sm;
  font-size: 1.6rem;
  margin: 0 48px;
}
