.CardList {
  @include flexbox(column, flex-start, flex-start);
  margin: 24px 0;

  &__Container {
    margin: 24px 48px;
    @include flexbox(row, center, flex-start);
    flex-wrap: wrap;
    gap: 24px;
  }

  &__Button{
    background-color: $color-blue;
    width: 280px;
    color: $color-white;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 4px;
    border: none;
    padding: $pad-sm;
    cursor: pointer;
  }
}
